 
#**Ejercicio 2**
* Deyvi Ardila 
* Sofia Salinas
* Juan Pablo Gomez
* Esteban Pacavita

Sobre la tabla localizada en la dirección  : https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)

Escriba la consulta y muestre los resultados para las siguientes preguntas,

 Determine el país con:

* mayor población durante 2019.
* mayor tasa de crecimiento para el periodo 2018-2019.
* menor tasa de crecimiento para el periodo 2018-2019.

Determine: 

* La tasa de crecimiento de Asia para el periodo 2018-2019.
* La tasa de crecimiento de America del sur para el periodo 2018-2019.
* Los continentes con mayor y menor tasa de crecimiento, respectivamente.

Primero importamos las librerias que utilizaremos.

In [ ]:
import pandas as pd
import re

Vamos a montar la tabla dentro de un dataframe y editar un poco para que los datos sean un poco mas manejables.

In [ ]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)")[0][:-1]
clean = lambda s: re.sub("\[.*\]", "", s)
df.columns = df.columns.map(clean)
df.iloc[:, 0] = df.iloc[:, 0].map(clean)
df.iloc[94, 5] = "+0.00%"
df.iloc[:, 5] = df.iloc[:, 5].map(lambda s: {"+": 1, "−": -1}[s[0]] * float(s[1: -1]))
df.rename(columns = {"Change": "Change percent"}, inplace = True)
df

,Country / Area,UN continentalregion,UN statisticalsubregion,Population(1 July 2018),Population(1 July 2019),Change percent
0,China,Asia,Eastern Asia,1427647786,1433783686,0.43
1,India,Asia,Southern Asia,1352642280,1366417754,1.02
2,United States,Americas,Northern America,327096265,329064917,0.60
3,Indonesia,Asia,South-eastern Asia,267670543,270625568,1.10
4,Pakistan,Asia,Southern Asia,212228286,216565318,2.04
...,...,...,...,...,...,...
228,Montserrat (United Kingdom),Americas,Caribbean,4993,4989,-0.08
229,Falkland Islands (United Kingdom),Americas,South America,3234,3377,4.42
230,Niue,Oceania,Polynesia,1620,1615,-0.31
231,Tokelau (New Zealand),Oceania,Polynesia,1319,1340,1.59
232,Vatican City,Europe,Southern Europe,801,799,-0.25

Procederemos a realizar las consultas e imprimir los resultados de las preguntas planteadas.

In [ ]:
max_population = df[df.iloc[:, 4] == df.iloc[:, 4].max()]
print(f"Determine el país con mayor población durante 2019.\nRespuesta : {max_population.iloc[0, 0]} con un total de :{max_population.iloc[0, 4]} habitantes")

Determine el país con mayor población durante 2019.
Respuesta : China con un total de :1433783686 habitantes

In [ ]:
max_growth = df[df.iloc[:, 5] == df.iloc[:, 5].max()]
print(f"Determine la mayor tasa de crecimiento para el periodo 2018-2019.\nRespuesta :  {max_growth.iloc[0, 0]} con una tasa de :{max_growth.iloc[0, 5]}% ")

Determine la mayor tasa de crecimiento para el periodo 2018-2019.
Respuesta :  Bahrain con una tasa de :4.57%

In [ ]:
min_growth = df[df.iloc[:, 5] == df.iloc[:, 5].min()]
print(f"Determine el pais con menor tasa de crecimiento para el periodo 2018-2019.\nRespuesta : {min_growth.iloc[0, 0]} con una tasa de: {min_growth.iloc[0, 5]}% ")

Determine el pais con menor tasa de crecimiento para el periodo 2018-2019.
Respuesta : Puerto Rico (United States) con una tasa de: -3.49%

In [ ]:
growth_asia = df.groupby(["UN continentalregion"]).sum().at["Asia", "Change percent"]
print(f"Determine la tasa de crecimiento de asia en el periodo 2018 - 2019 \nRespuesta : {growth_asia} %")

Determine la tasa de crecimiento de asia en el periodo 2018 - 2019
Respuesta : 68.24%

In [ ]:
growth_south_america = df.groupby(["UN statisticalsubregion"]).sum().at["South America", "Change percent"]
print(f"Determine la tasa de crecimiento de sur america en el periodo 2018 - 2019 \nRespuesta: {growth_south_america} % ")

Determine la tasa de crecimiento de sur america en el periodo 2018 - 2019
Respuesta: 17.71%

In [ ]:
max_growth_continent = df.groupby(["UN continentalregion"]).sum().sort_values(["Change percent"]).iloc[-1,:]
print(f"Determine la mayor tasa de crecimiento continental \nRespuesta : en {max_growth_continent.name} existio un crecimiento del {max_growth_continent.iat[2]} % siendo la mayor tasa de crecimiento continental ")

Determine la mayor tasa de crecimiento continental
Respuesta : en Africa existio un crecimiento del 130.57 % siendo la mayor tasa de crecimiento continental

In [ ]:
min_growth_continent = df.groupby(["UN continentalregion"]).sum().sort_values(["Change percent"]).iloc[0,:]
print(f"Determine la menor tasa de crecimiento continental \nRespuesta : en {min_growth_continent.name} existio un crecimiento del {min_growth_continent.iat[2]} % siendo la menor tasa de crecimiento continental")

Determine la menor tasa de crecimiento continental
Respuesta : en Europe existio un crecimiento del 5.66 % siendo la menor tasa de crecimiento continental